
html, body {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background:#000000;
  color: #e0e0e0;
  font-family: "Noto Sans", monospace;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.title_content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.title_content h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    font-size: 5vw;
}
.title_content h2 {
    font-size: 3vw;
}
.CopyRight {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    padding: 10px;
    color: #e0e0e0;
    font-size: 0.8em;
    line-height: 1.5;
    text-align: left;
}
@media screen and (max-width: 767px) {
  .title_content {
    height:70vh;
  }
  .title_content h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 6vw;
  }
  .title_content h2 {
    font-size: 5vw;
  }
  .CopyRight {
    font-size: 2vw;
  }
}