body {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #1a1a1a, #000000);
    color: #e0e0e0;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}