.loading {
    display: none;
}
html {
    background-color: #1A1A1B;
    color: #F2F2F2;
}
.BLOG, .description {
    background-color: #2c2c2e;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
    border:2px solid #e0e5ec54;
}
.BLOG {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.BLOG h1, .BLOG h2, .description h1, .description h2 {
    margin-left: 10px;
    margin-block-start: 10px;
    margin-block-end: 10px;
}
.BLOG p {
    margin-top: auto;
}
.BLOG a , .BLOG a:visited{
    color: #afbfd6;
    text-decoration: none;
    transition: color 0.3s ease;
}
.BLOG a:hover {
    color: #7a9ed1;
}

.shaoji-description {
    display: flex;
    align-items: center;
    background-color: #272729;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
    border:2px solid #e0e5ec54;
}
.shaoji {
    margin-left: auto;
    margin-right: 5px;
    border-radius: 20px;
    border:2px solid #e0e5ec;
}
.shaoji-description h1 {
    font-size:3.3550336em;
}
.zhuoyouming {
    background-color: #272729;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
    border:2px solid #e0e5ec54;
}
.zhuoyouming h2 {
    margin-left: 20px;
    font-size: 1.4em;
}
.zhuoyouming h3 {
    margin-left: auto;
    text-align: center;
    margin-block-start: 10px;
    margin-block-end: 10px;
}
.yewu {
    background-color: #272729;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
    border:2px solid #e0e5ec54;
}
.yewu-area {
    display: flex;
}
.pnkn, .ufls {
    background-color: #272729;
    flex:1;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
    border:2px solid #e0e5ec54;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pnkn img,.ufls img {
    max-width:343px; 
    max-height: 147px; 
    width:75%;
    object-fit: cover;
    border-radius: 20px; 
    border:2px solid #e0e5ecbd;
}
.pnkn h3, .ufls h3 {
    font-size: 1.5em;
}
@media screen and (max-width:767px) {
    .yewu-area {
        flex-direction: column;
    }
}