.no-scroll {
    touch-action: none; 
}
@font-face {
    font-family: 'BrasiliaDelight';
    src: url('./BrasiliaDelight-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.merry,.christmas {
    font-family: 'BrasiliaDelight', cursive;
    font-size: clamp(18vh, 21vh,26vh);
    width: min-content;
    position:absolute;
    left: 1vh;
    user-select: none;
    margin: 0;
}
.merry {
    top: 0vh;
    color: #991e1e;
    text-shadow: 3px 5px 1px #4b0b0b,20px 5px 5px rgba(146, 146, 146, 0.3);
}
.christmas {
    top: 30vh;
    color: #135e25;
    text-shadow: 3px 5px 1px #072c10,20px 5px 5px rgba(146, 146, 146, 0.3);
}
.TLO {
    font-family: 'BrasiliaDelight', cursive;
}
.ground {
    position: absolute;
    background-color: antiquewhite;
    box-shadow: 0 -10px 5px rgb(201, 191, 180);
    width: 100vw;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}
@media screen and (max-width: 767px) {
    .merry { top: -2vh; font-size: 20vh;}
    .christmas { top: 25vh; font-size: 20vh;}
    .ground { font-size: 2vh; bottom:0px;}
}

#alert-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 9999; 
    justify-content: center;
    align-items: center;
}


#alert-message.open {
    display: flex;
}

#alert-message .content {
    background-color: rgb(97, 95, 95);
    padding: 30px 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
    transform: translateY(-20px); 
}

#alert-message h1 {
    font-size: 24px;
    color: #f3f3f3;
    margin-bottom: 10px;
    position: relative; 
    left: 0;
    width: auto;
}

#alert-message h2 {
    font-size: 18px;
    color: #b3b3b3;
    margin-bottom: 25px;
}

#alert-message button {
    background-color: #135e25;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 50px; 
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

#alert-message button:hover {
    background-color: #072c10;
}